<h1>Welcome to BearReader!</h1>

<p>I loved the concept behind BearBlog, but I miss having a way to follow my favorite blogs and no RSS client could replicate the experience of browsing BearBlog and opening each blog entry on their own sites, so I made my own!</p>

<h3>How does it work?</h3>

<p>To start following blogs, just open the <a href="/manage">Manage feeds</a> page and add the RSS links for each of them.</p>
<p>Then, open <a href="/timeline">Timeline</a> and the magic will happen.</p>

<h4>Happy reading!</h4>
