<header>
  <a
    routerLink="/"
    class="title"
  >
    <h1>
      <span class="bear">ʕ•ᴥ•ʔ</span> BearReader
    </h1>
  </a>
  <nav>
    <a
      routerLink="/timeline"
      routerLinkActive="active"
    >
      Timeline
    </a>

    <a
      routerLink="/manage"
      routerLinkActive="active"
    >
      Manage feeds
    </a>
  </nav>
</header>
<main>
  <router-outlet />
</main>
<footer>
  <p>
    Made by
    <a
      href="https://dragon.gal"
      target="_blank"
    >kryst4line</a>
    with love to
    <a
      href="https://bearblog.dev"
      target="_blank"
    >
      <span class="bear">ʕ•ᴥ•ʔ</span>
      Bear
    </a>
  </p>
</footer>
