<h1>
  <input
    #rssInput
    placeholder="Paste here your RSS link"
    (keydown.enter)="addSource()"
  />
  <button
    (click)="addSource()"
  >
    Add source
  </button>
</h1>

<ul
  class="discover-posts"
>
  @for (feed of sources(); track feed.link) {
    <li>
      <div>
        <a
          [href]="'https://' + (feed.link | url)"
          target="_blank"
        >
          {{feed.title}}
        </a>
        <small>
          <span>
            <a
              [href]="'https://' + (feed.link | url)"
              target="_blank"
            >
              ({{feed.url | url}})
            </a>
          </span>
          <small
            (click)="removeSource(feed)"
          >
            (Remove)
          </small>
        </small>
      </div>
    </li>
  }
</ul>
